<% content_for :top_content do %>
<% if user_signed_in? %>

<div class="container">
  <center><%= link_to 'Add More Adventures!', 'home/new', class: 'btn btn-primary btn-lg' %></center>
</div>

<h1>Wish List</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 grid">
      <img src="http://i.imgur.com/KreVNXGm.jpg?3">
      <p>Monument Name</p>
      <p>City Name</p>
    </div>
    <div class="col-md-4 grid">
      <img src="http://i.imgur.com/KreVNXGm.jpg?3">
      <p>Monument Name</p>
      <p>City Name</p>
    </div>
    <div class="col-md-4 grid">
      <img src="http://i.imgur.com/KreVNXGm.jpg?3">
      <p>Monument Name</p>
      <p>City Name</p>
    </div>
  </div>
</div>

<h1>Visited</h1>
<br>
<div class="container grid">
  <div class="row">
    <div class="col-md-4">
      <img src="http://i.imgur.com/KreVNXGm.jpg?3">
      <p>Monument Name</p>
      <p>City Name</p>
    </div>
  </div>
</div>

<% else %>

<div id="welcome">
  <div class="container welcome-cont">
    <!-- <div class ="welcome"> -->
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-sm' %>
      </p>
    <!-- </div> -->
  </div>
</div>
<% end %>
<% end %>
