<% content_for :top_content do %>
<% if user_signed_in? %>
I like puppies.
<% else %>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>Register to get started.</p>
    <p>
      <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>





<h1>This is the details page</h1>

<h3>turn this into a pop-up</h3>

  <% @trips.each do |trip| %>
    City: <%= @trips["city_name"] %>

    <% @users.each do |monument| %>
      Monument: <%= monument["monument_name"] %>
      Address: <%= address["address"] %>
    <% end %>

  <% end %>







<% end %>
<% end %>
