<% content_for :top_content do %>
<% if user_signed_in? %>
<h1>Where to Next?</h1>
<a href="/home/new">Take a new trip</a>
<div class="visited">
Visited Countries
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="not-visited">
Not Visited Countries
</div>
<% else %>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>Register to get started.</p>
    <p>
      <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
<% end %>
<% end %>
