/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
  font-family: "Quicksand", sans-serif;
}

input:focus {
  outline: none;
}

.register {
  text-align: center;
}

.signup, .edit, .login{
  text-align: center;
  border: 1px solid black;
  line-height: 30px;
  letter-spacing: 2px;
  padding: 1px;
  background-color: azure;
  width: 500px;
  margin: 0 auto;
  transition:  all 0.3s ease-in-out;
}
.edit {
  width: 700px;
}

.signup-btn {
  padding-top: 10px;
}

.grid {
  transition:  all 0.3s ease-in-out;
  text-align: center;
}

.grid:hover {
  font-weight: 900;
  border-left: 1px dotted black;
}

#welcome {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background: url('http://i.imgur.com/NGqX1YVl.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
}
.welcome-cont{
  margin-top: 30px;
}
